.categoriesPage{
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    flex-wrap: wrap;
    text-align: center;
    .categoryItem{
        max-width: 385px;
        img{width: 100%;}
        .categoryContent{
            padding: 0 15px;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            a{
                white-space: nowrap;
                padding: 10px;
                border-radius: 50px;
                background-color: white;
                color: #64d370;
                border: 1px solid #64d370;
            }
        }
    }
}