.wrapperDropdownSelect{

width: min(42.5em, 100vw);
  min-width: 0;
}
.dropdownButton{
    background-color:#f5faff;
    border-radius: 50px;
    padding: 30px;
    margin-top: 30px;
}
.dropdown{
    width: 100%;
}
.dropDownDescription{
    padding: 30px;
    
}