.wrapperEasyForBusy{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .easyForBusy{
    
        width: 40%;
        
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .imageEasyForBusy{
        width: 50%;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
}