.wrapperEasyForBusy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .easyForBusy{
        margin: 0 auto;
        width: 40%;
        
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .imageEasyForBusy{
        width: 50%;
        
        img{
            width: 100%;
            height: auto;
            min-width: 530px;
        }
    }
}
@media (max-width: 900px) {
    .wrapperEasyForBusy{
        flex-direction: column-reverse;
        .easyForBusy{
            width: 80%;
            text-align: center;
        }
        .imageEasyForBusy{
            width: 100%;
            margin-top: 20px;
            img{
                min-width: unset;
            }
        }
    }
}