.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.4em;
	background-color: #f5faff;
	padding: 1em;
}
.links {
	display: flex;
	flex-direction: column;
	gap: 0.8em;
}
.—ÅontactSection {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 0.8em;
}
.contacts {
	display: flex;
	gap: 0.5em;
}
