.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.4em;
	background-color: #f5faff;
	padding: 1em;
}
.links {
    white-space: nowrap;
	display: flex;
	flex-direction: column;
	gap: 0.8em;
}
.сontactSection {
    white-space: nowrap;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 0.8em;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: end;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.contactsMedia {
	display: flex;
	gap: 0.5em;
}
@media (max-width: 860px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .links{
        display: none;
    }
    .info{
        display: none;
    }
    .сontactSection{
        color:#64D370;
    }
}
