.wrapper {
    margin-top: -40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4em;

}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    background-color: #f5faff;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    z-index: 1;
}
.links {
    margin-left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    background-color: #f5faff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 1.5em;
    gap: 2.5em;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
}
.telephone {
    color: #64D370;
    background-color: #f5faff;
    padding: 1.5em;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
}
.cart {
    background-color: #f5faff;
    padding: 1.5em;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
}
.cartImage {
}
.cartCount {
    position: absolute;
    font-size: 22px;
    top: 13px;
    right: 10px;
}

@media (max-width: 1162px) {
    .telephone {
        display: none;
    }
    
}
@media (max-width: 832px) {
    .wrapper{
        margin-top: 20px;
    }
    .logo{

        display: none;
    }
    .links {
        margin-left: 0px;
        border-radius: 50px;
    }

    .cartImage{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 562px) {
    .wrapper{gap: 1em;}
    .links {
        gap: 1.2em;
    }
    .cartImage{
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 495px) {
    .wrapper{gap: 0.7em;}
    .links {
        gap: 0.7em;
        padding: 0.7em;
    }
    .cart{
        padding: 0.7em;
    }
    .cartImage{
        width: 20px;
        height: 20px;
    }
}