.wrapper {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4em;

}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    background-color: #f5faff;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    z-index: 1;
}
.links {
    margin-left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5faff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 1.5em;
    gap: 1em;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
}
.telephone {
    color: #64D370;
    background-color: #f5faff;
    padding: 1.5em;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
}
.cart {
    background-color: #f5faff;
    padding: 1.5em;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
}
.cartImage {
}
.cartCount {
    position: absolute;
    font-size: 22px;
    top: 13px;
    right: 10px;
}
