.wrapperHistoryGastroChef{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    img{
        width: 100%;
        height: auto;
        min-width: 400px;
    }
    .historyGastroChef{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
}
@media (max-width: 741px) {
    .wrapperHistoryGastroChef{
        flex-direction: column;
        .historyGastroChef{
            width: 80%;
            text-align: center;
        }
    }
}