.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
}
.icons {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.icon {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5faff;
	border-radius: 50%;
	padding: 10px;
}
.textMain {
	max-width: 500px;
}
.textMain p {
	margin-bottom: 10px;
	margin-top: 5px;
}
.infoButton {
	display: flex;
	gap: 1.5em;
}
.infoButton button {
	text-align: center;
	width: 30%;
}
.imageMain {
	padding: 40px;
	border-radius: 50%;
	background-color: #f5faff;
}
.imageMain img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	cursor: pointer;
}
.changeSlide {
	font-size: 2.5em;
	color: #64d370;
}
.slide {
	width: 10px;
	height: 10px;
	display: flex;

	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #64d370;
}
.activeSlide {
	background-color: #00ba2d;
}
/* .circle {
	width: 120em;
	height: 120em;
	border-radius: 50%;
	position: absolute;
	background-color: #64d370;
	top: -50%;
	right: -50%;
	z-index: -5;
} */
