.newsPage {
    margin-top: 100px;
    margin-bottom: 100px;
}
.newsItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    .newsItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 5px;
        width: 30%;
        button{
            background-color: white;
            color: #64d370;
            border: 1px solid #64d370;
        }
        a{
            padding: 15px;
            border-radius: 50px;
            background-color: white;
            color: #64d370;
            border: 1px solid #64d370;
        }
        .mainImage{
            width: 75%;
        }
    }
    h3 {
        width: 68%;
    }
    .newsContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 68%;
    }
}
.pagination {
    display: flex;

    justify-content: center;
    align-items: center;
    .page {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #dee6ee;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 5px;
    }
    .active {
        background-color: #64d370;
        color: #f5faff;
    }
}
