.newsDetailPage{
    width: 60%;
    margin: 0 auto;
    
    
    h1{
        text-align: center;
    }
    img{
        width: 100%;
        height: 300px;
    }
    p{
        padding: 20px;
    }
    p img{
        padding: 0;
    }
}