.newsPage {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1500px;
}
.newsItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    .newsItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 5px;
        button {
            background-color: white;
            color: #64d370;
            border: 1px solid #64d370;
        }
        a {
            padding: 15px;
            border-radius: 50px;
            background-color: white;
            color: #64d370;
            border: 1px solid #64d370;
        }
        .mainImage {
            min-width: 400px;
        }
    }
    h3 {
    }
    .newsContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 93%;
    }
}
.pagination {
    display: flex;

    justify-content: center;
    align-items: center;
    .page {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #dee6ee;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 5px;
    }
    .active {
        background-color: #64d370;
        color: #f5faff;
    }
}
