.wrapper {
    margin: 0 auto;
    width: 80%;
    opacity: 0.6;
    margin-bottom: 200px;
    margin-top: 100px;
}
.ourPasses {
    display: flex;
    background-color: #f5faff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 50px;
}
.ourPass {
    max-width: 200px;
    flex: 0 1 auto;
}
.ourPrograms {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ourPrograms button {
    text-align: center;
    width: calc(48% - 30px);
}
.ourPrograms button:last-child {
    background-color: #dee6ee;
    color: #000000;
}
.wrapperPrograms {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.nameCaloriies{
    display: flex;
    gap:1em;
    align-items: center;
}

.programs {
    width: 30%;
}
.programsInfo {
    background-color: #37c245;
    padding: 20px;
    border-radius: 25px;
    color: #f5faff;
}
.days {
    display: flex;
    gap: 4.3em;
    background-color: #f5faff;
    padding: 20px;
    border-radius: 25px;
}
.shares {
    margin-top: 20px;
}
.share {
    display: flex;
}
.shareName {
    flex: 44;
}
.shareOldprace {
    flex: 37;
    text-decoration: line-through;
}
.shareNewPrice {
    flex: 14;
}
.buttonShare {
    margin-top: 20px;
    text-align: center;
}
.buttonShare button {
    width: 50%;
    text-align: center;
}
.dayPlans {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #f5faff;
    padding: 20px;
    border-radius: 25px;
}
.dayPlan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mealName {
    flex: 1;
}
.mealTime {
    flex: 0.9;
}
.productInformation {
    display: flex;
    flex: 3;
    justify-content: space-between;
}
.active{
    color:#64D370;
}