.wrapperOrderForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input {
    width: 100%;
}
.wrapperInput{
position: relative;
}
.marker {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 1.5em;
    height: 1.5em;
    background-color: #64d370;
    border-radius: 50px;
}
.orderButton {
    text-align: center;
}
.orderButton h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.orderButton button {
    width: 60%;
}
.orderButton button:active {
    background-color: white;
    color: #64d370;
    border: 2px solid #64d370;
}
.customCheckboxWrapper {
    display: flex;
    gap: 0.7em;
    align-items: center;
    margin-left: 10px;
}
.customCheckbox {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border: 5px solid #dee6ee;
    border-radius: 50px;
    padding: 0;
    background-color: white;
}
.customCheckbox:checked {
    background-color: #64d370;
}
.noError {
    color: #64d370;
    margin-left: 15px;
}
.error {
    color: brown;
    
}
.errorSpan{background-color: brown;}