.orderAndFAQWrapper {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 200px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 100px;
}
.orderWrapper {
}

.order h1,
.order h3 {
    text-align: center;
}
.order{
    margin-bottom: 25px;
}
.order h1{
    margin-bottom: 10px;
}