.aboutCategory{
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F5FAFF;
    p{
        width: 50%;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.products{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    .product{
        .productDescription{
            padding: 0 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .nutrition{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .priceCount{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                color: #64D370;
                .count{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    span{
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        width: 30px;
                        height: 30px;
                        color: black;
                        background-color: #DEE6EE;
                        border-radius: 50px;
                        
                    }
                }
            }
        }
    }
}